.card{
    color: green;
    padding: 10rem 0rem 0rem 0rem;
    max-width: 30ch;
    /* border-radius: 0.5rem; */
    overflow:hidden;
    transition:transform 500ms ease;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    height: 45ch;
    margin-right: 10rem;

}

.card:hover,.card:focus-within{

        transform: scale(1.05);

}
.card-content{
    --padding: .5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0%/ 0),
        hsl(20 50% 0%/ .3) 10%,
        hsl(0 0% 0%/ 1)
    );
    height:100%;
    text-align:center;
}

.card-title{
    position: relative;
    text-align:center;
    width: max-content;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000000;
    text-transform:uppercase;
    color:white
}

.card-title::after{
    content: "";
    position: absolute;
    height:4px;
    left: calc(var(--padding) * -.5 );
    bottom:-3px;
    width:calc(100% + var(--padding));
    background:rgb(15, 98, 167);
    transform-origin: center;
    transition: transform 500ms ease-in-out;

}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scalex(1);
}
.card-body{
    color:rgb(255 255 255/ 0.8);
    
}


@media (hover) {
    .card-content{
        transform: translateY(65%);
        transition: transform 500ms ease;
    }
    
    .card:hover .card-content, .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 400ms;
    }   
    .card:focus-within .card-content{
    transition-duration: 0ms;
    }

    .card-content > *:not(.card-title){
    opacity: 0;
    transition: opacity 500ms linear;
    }


    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 500ms;
    }
    .card-title::after{  

    transform: scalex(0);}

}
@media screen and (max-width:280px) {
    .card{
        max-width: 10ch;
        margin: auto;
    }
    .card,.card-content{
        width:auto;
        }
    .card-title{
        font-size: 10px;
    }
    .card-body{
        font-size:12px;
    }
}
@media screen and (max-width:375px) {
    .card{
        max-width: 10ch;
        margin: auto;
    }
    .card,.card-content{
        width:auto;
        }
    .card-title{
        font-size: 10px;
    }
    .card-body{
        font-size:12px;
    }
}
@media screen and (max-width:390px) {
    .card{
        max-width: 10ch;
        margin: 1rem;
    }
    .card,.card-content{
        width:auto;
        }
    .card-title{
        font-size: 10px;
    }
    .card-body{
        font-size:12px;
    }
}
@media screen and (max-width:512px) {
    .card{
        max-width: 30ch;
        margin: auto;
    }
    .card,.card-content{
        width:auto;
        }
    .card-title{
        font-size: 15px;
    }
    .card-body{
        font-size:12px;
    }
}
@media screen and (max-width: 600px) {
    .card{
        max-width: 30ch;
        margin: auto;
    }
    .card,.card-content{
        width:auto;
        }
    .card-title{
            font-size: 15px;
        }
    .card-body{
        font-size:12px;
    }

}
@media screen and (max-width: 768px) {
    .card{
        max-width: 30ch;
        margin: auto;
    }
    .card,.card-content{
        width:auto;
        }
    .card-title{
            font-size: 15px;
        }
     .card-body{
        font-size:12px;
    }

}
@media screen and (max-width: 912px) {
    .card{
        max-width: 30ch;
        margin: auto;
    }
    .card,.card-content{
        width:auto;
        }
    .card-title{
            font-size: 15px;
        }
     .card-body{
        font-size:12px;
    }

}
@media screen and (max-width: 1000px) {
    .card{
       max-width: 30ch;
        margin: auto;
    }
    .card,.card-content{
        width:auto;
        }
    .card-title{
            font-size: 15px;
        }
    .card-body{
        font-size:12px;
    }

}
@media screen and (max-width: 1024px) {
    .card{
       max-width: 30ch;
        margin: auto;
    }
    .card,.card-content{
        width:auto;
        }
    .card-title{
            font-size: 15px;
        }
    .card-body{
        font-size:12px;
    }

}
@media screen and (max-width: 1300px) {
    .card{
       max-width: 30ch;
        margin: auto;
        border:1px solid black;
    }
    .card,.card-content{
        width:auto;
        }
    .card-title{
            font-size: 15px;
        }
    .card-body{
        font-size:12px;
    }

}