.carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   border: 1px solid black;
   background: black;
   vertical-align: middle;
   padding: 2px;
   background-repeat: no-repeat;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    border: 1px solid black;
    background: black;
    vertical-align: middle;
    padding: 2px;
    background-repeat: no-repeat;
  }
  .Head{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -8.5rem;
  
  }
  .Carousel{
    margin-bottom: 10rem;
    vertical-align: middle;
  }

  #car-searchbtn {
    background-color: #030332;
    color: white;
    font-size: 16px;
    letter-spacing: .3px;
    padding: 7px;
  }

  #car-searchbtn:hover  {
    text-transform: uppercase;
    background-color: #16415be8;
    border-radius: 5px;
    padding: 7px;
    font-weight: 500;
  }

