.footer_container {
    background-color: #030332;
    /* background-color: #a8aaab5f; */
    margin-top: 80px;
  }/*# sourceMappingURL=footer.css.map */

.ul-p {
    text-align:left;
    padding-left: 30%;
    line-height: 28px;
  }

  #copyryt {
    background-color: #4e4e4e4d;
    letter-spacing: 1.5px;
  }

 #topp {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .15em;
  }

  #mail {
    font-weight: 200;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .7px;
    font-size: 18px;
  }

  .col2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px !important
  }

#cont {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .15em;
    text-transform: uppercase;
    margin-bottom: 20px;
}