@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Special+Elite&display=swap');

/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
/* 
.feat-cont:before {
  background-image: url(./components/images/bg.jpg);
  background-size: cover;
  background-blend-mode: screen;
  opacity: 0.6;
  background-position: 50% 0;

} */
* , html {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh); /*section elements to slide into view*/
  transition: all 2s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}