


.h-navbar {
    background-color: #030332;
    position: fixed;
    z-index: 10;
    margin:0;
    width: 100%;
    align-items: center;
    /* margin-top:-20px; */
} 

.navbar {
    position: fixed !important;
}

.logo {
    height: auto;
    width: 110px;
    vertical-align: middle;
}

#nav-list{
    justify-content:space-around;
    margin-left: auto;
}

.navlinkk {
    padding: 10px;
    margin: 0 40px;
}

#nav-list a {
    color: white;
    font-size: 18px;
    letter-spacing: .3px;
    text-decoration: none;
    /* border: 2px solid red; */
}

#nav-list a:hover {
    text-transform: uppercase;
    /* background-color: #16415bce; */
    background-color: #008b8b7e;
    border-radius: 3px;
    padding: 10px;
    font-weight: 500;
}

#nav-list a:active {
    text-transform: uppercase;
    background-color: #16415bce;
    border-radius: 3px;
    padding: 10px;
    font-weight: 500;
    border-bottom: 5px solid #5997bd;
}

.input-group {
    width:25%;
    margin-right: 10px;
}

#searchbar{
    border-radius: 0%;
}

.btn-outline-secondary {
    margin: 0px 10px 0px -10px;
    border-radius: 0%;
}

#signinbtn {
    margin-left: 15px;
    font-size: 15px;
    letter-spacing: .3px;
    /* color:#030332;
    background-color: antiquewhite; */
}

#signinbtn:hover {
    text-transform: uppercase;
    background-color: #285977ce;
    border-radius: 5px;
    /* padding: 5px; */
    font-weight: 500;
    color: white
}

.joinBtn {
    margin: 0 5px ;
}

.form-search-wrap {
    position: relative;
    width: 400px;
}

/* .w-100 {
    width: 100%!important;
} */

/* .align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
} */

.navbar-toggler , .navbar-toggler-icon  {
    color: #030332 !important; ;
    border-color: white !important;background-color: white !important;
}

.navbar-toggler-icon {
    
    border-color: white;
   
}

.navbar-toggler span {
     color:#030332 !important;;
}