@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* .hero2 {
    width: 100%;
    /* height: 100vh; 
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(#051438,#b2c4f1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: transparent;
     background: url(../images/bv2.mp4);
    background-size: cover; }  */

    .hero2{
        margin-top: auto;
        padding-top:5rem;
    }

.bv {
     width: 100%;
   height:auto;
    position:relative;
    z-index: -2;
    justify-content: center;
    align-items: center;
   margin-top: -50px;

}

.tabs {
    margin-top: -220px;
    background-color: white;
}

.contt {
    border: 7px double rgb(230, 227, 227);
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 15px;
    border-radius: 50px;
    z-index: -99;
}

.cont h1 , .contt h1  {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .15em; 
    text-align: center;
    text-shadow: 3px 3px 3px #0a0a0a71;
}

.cont h2 , .contt h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.contt h2::after {
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    content: " ";
    display: block;
    width: 8%;
    height: 3px;
    background: #798bac;
    /* overflow: hidden; */
    margin-left: 45%;
    margin-right: auto;
    margin-top: 15px;
}

.s-head {
    justify-content: center;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: .10em; 
    /* border: 2px dashed violet; */
    font-family: 'Architects Daughter', cursive;
    text-shadow: 2px 2px 3px #0a0a0a73;
    /* margin-left: -20px; */
    margin-bottom: 10px;
    color:#455574;
    margin-top: 10px;
}

.stackk , .satckk {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
    padding-left: 30px;
    font-size: 23px;
    text-shadow: 3px 3px 4px #0a0a0a4c;
    z-index: 5;
    /* background-color: beige; */
}


.satckk {
    background-color: #030332;
    color:whitesmoke;
    border-radius: 10px;
    box-shadow: 4px 6px 3px #0a0a0a8b;
}

.stack-p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-align: left;
    padding-left: 50px;
    font-size: 18px;
    padding-right: 10px;
    text-shadow: 3px 3px 4px #0a0a0a10;
}

.w-gif{
    height: auto;
    width: 80%;
    position: relative;
    justify-content: center;
    align-content: center;
    display: flex;
    margin: 20px auto 20px 10%;
}

.cont2 , .cont3{
    border: 7px double rgb(230, 227, 227);
    border-top: none;
    padding-top: 50px;
    padding-bottom: 15px;
    border-radius: 50px;
    margin-top: -23px;
    z-index: -99;
}

.cont2 h1  {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .15em; 
    text-align: center;
    text-shadow: 3px 3px 3px #0a0a0a71;
}

.cont2 h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.cont2 h2::after {
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    content: " ";
    display: block;
    width: 8%;
    height: 3px;
    background: #798bac;
    /* overflow: hidden; */
    margin-left: 45%;
    margin-right: auto;
    margin-top: 15px;
}

.num {
    font-size: 28px;
    font-weight: 800;
    font-family: 'Lobster', cursive;
}

.t-num {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .7px;
    text-transform:uppercase; 
}

.t-headd {
    text-align: center;
    justify-content: center;  
    /* border: 2px dashed violet; */
    padding: 8px;
    /* margin-left: 50px; */
}

.h-gif {
    height: auto;
    width: 90%;
    position: relative;
    justify-content: center;
    align-content: center;
    display: flex;
    margin: 10% auto 0 auto;
}
.abouts{
    border: 7px double rgb(230, 227, 227);
   
    padding-top: 50px;
    padding-bottom: 15px;
    border-radius: 50px;
    z-index: -99;
}
.abt {
    background-color: #030332;
    color:whitesmoke;
    border-radius: 10px;
    box-shadow: 4px 6px 3px #0a0a0a8b;
    padding: 1rem;
}
.abouts h1{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .15em; 
    text-align: center;
    text-shadow: 3px 3px 3px #0a0a0a71;
}
.abtp {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 18px;
    padding-right: 10px;
    text-shadow: 3px 3px 4px #0a0a0a10;
}
.abth {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .7px;
    text-transform:uppercase; 
}

#tabbtn {
    margin-left: 40%;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 40px;
    padding: 10px 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    /* color:#030332;
    background-color: antiquewhite; */
    box-shadow:2px 3px 40px #01012fe9;
    text-decoration: none;
    background-color: #e21866;
    border-color: #f20091;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    text-shadow: 3px 3px 4px #0a0a0a97;
}

#tabbtn:hover {
    text-transform: uppercase;
    background-color: #285977ce;
    border-radius: 5px;
    /* padding: 5px; */
    font-weight: 500;
    color: white
}

@media screen and (max-width: 576px) {
    #tabbtn {
    width: 100%;
    }
}
@media screen and (max-width: 992px) {
    #tabbtn {
    margin-left: 60%;
    }
}
@media (max-aspect-ratio: 16 / 9) {
#tabbtn {
      margin-left: 70%;
    }
}