@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Special+Elite&display=swap');

.w-title {
    text-align: center;
    justify-content: center;
    /* border: 2px dashed red; */
    display: inline-block;
    
}

.w-title  h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #1c1301; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 4s steps(40, end) forwards,
        blink-caret .75s step-end infinite;
        width: 0;
    margin-top: 30px;
}


/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width:100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    100% { border-color: #1c1301; }
  }

.t-head {
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Architects Daughter', cursive;   
    /* border: 2px dashed violet; */
    padding: 10px;
}

.satck {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    padding-left: 50px;
    font-size: 19px;
}

.w-head {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.seebtn , .seebtn a {
    text-decoration: none;
    color: #838c93;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
    border: 1px solid #9ba2a7;
    background-color: none;
    padding: 5px;
    border-radius: 30px;
}

.seebtn:hover {
    color: white;
    background-color: #838c93;
}